@model IEnumerable<StaffTrainee.Models.Course>
@{
    ViewBag.Title = "Index";
}

<h2>Index of Courses</h2>

<div class="form-group">
    @Html.ActionLink("Add new Course", // <-- Link text
                         "Create", // <-- Action Method Name
                         "Courses", // <-- Controller Name
                         null, // <-- Route value
                         new { @class = "btn btn-info" } // <-- htmlArguments
                         )
</div>



<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@using (Html.BeginForm("Index", "Courses", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("searchString", "")
        <button type="submit"><i class="fa fa-search"></i></button>
    </div>

}


<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
        <tr>
            <th scope="row">@course.Id</th>
            <td>@course.Category.Name</td>
            <td>@course.Name</td>
            <td>@course.Description</td>

            @if (User.IsInRole("Staff"))
            {
            <td>
                @Html.ActionLink("Edit", // <-- Link text
                                                 "Edit", // <-- Action Method Name
                                                 "Courses", // <-- Controller Name
                                                 new { id = course.Id }, // <-- Route value
                                                 new { @class = "btn btn-default" } // <-- htmlArguments
                                             )

                @Html.ActionLink("Delete", // <-- Link text
                                                 "Delete", // <-- Action Method Name
                                                 "Courses", // <-- Controller Name
                                                 new { id = course.Id }, // <-- Route value
                                                 new { @class = "btn btn-danger" } // <-- htmlArguments
                                             )
            </td> 
            }
            
        </tr>
        }
    </tbody>
</table>