@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO FPT--TRAINING SYSTEM</h1>


    @if (Request.IsAuthenticated)
    {
        @*<p>Username: @User.Identity.GetUserName()</p>*@
    }
    @if (User.IsInRole("Trainee"))
    {
        <h2>Welcome @User.Identity.GetUserName()</h2>
        <h2>We hope you enjoy your time at the FPT Training System</h2>

    }

    @if (User.IsInRole("Staff"))
    {
        <h2>Welcome Staff : @User.Identity.GetUserName()</h2>
        <h2>We hope you enjoy your time at the FPT Training System</h2>
     @Html.ActionLink(
                "Show all Trainee",
                "GetTrainees",
                "Staff",
                null,
                new { @class = "btn btn-primary" })
    }
    @if (User.IsInRole("Admin"))
    {
        <h2>Welcome Admin : @User.Identity.GetUserName() </h2>

        @Html.ActionLink(
          "Show all Staff",
          "GetStaffs",
          "Admin",
          null,
          new { @class = "btn btn-primary" })
        @Html.ActionLink(
         "Show all Trainers",
         "GetTrainers",
         "Admin",
         null,
         new { @class = "btn btn-primary" })


    }
    @if (User.IsInRole("Trainer"))
    {
        <h2>Welcome @User.Identity.GetUserName()</h2>
        <h2>We hope you enjoy your time at the FPT Training System</h2>
    }








</div>
